<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Login</title>
  </head>
  <body>
    <section class="prompt">
      <h3>Exercise App</h3>
      <h1>Sign Up</h1>
      <form action="/signup" method="post">
        <section>
          <label for="username">Username</label>
          <input
            id="username"
            name="username"
            type="text"
            autocomplete="username"
            required
          />
        </section>
        <section>
          <label for="password">Password</label>
          <input
            id="password"
            name="password"
            type="text"
            autocomplete="new-password"
            required
          />
        </section>
        <button type="submit">Sign up</button>
      </form>
      <hr />
      <p class="help">Already have an account? <a href="/login">Sign in</a></p>
    </section>
  </body>
</html>
